/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-gray-2); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-primary-light); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary); 
}