:root {
    --color-white: #fff;
    --color-black: #000;

    --color-primary: #eee;
    --color-secondary: #eee;
    --color-tertiary: #eee;

    --color-gray-1: #f6f6f6;
    --color-gray-2: #eee;

    --padding: 1.5rem;

    --margin: 3rem;
    --margin-small: 1rem;
    --margin-big: 5rem;

    --box-shadow-color: rgba(0, 0, 0, 0.6);
    --box-shadow--small: 0 1px 2px rgba(0, 0, 0, 0.1);
}

// Wyjasnie o co chodzi na zoomie - Marcin
// Wartości dla media queries:
// 75em;        1200/16
// 70em;        1120/16
// 68.75em;     1100/16
// 56.25em;     900/16
// 37.5em;      600/16
// 31.25em;     500/16