.filters {
    flex: 1;
    min-height: 20rem;
    margin-bottom: var(--margin);
    @include basicSection;

}

.content {
    flex: 1;
    @include basicSection;

}

.card-wrapper {
    flex: 0 1 30%;
    @include basicSection;

}