body {
    background-color: #FFF;
    // background-size: cover;
    // background-position: top center;
}

.filters {
    flex: 1;
    min-height: 20rem;
    margin-bottom: 2rem;
    background-color:  rgb(218, 207, 216);
}

.content {
    flex: 1;
    background-color: rgb(218, 207, 216);
    // box-shadow: 
    //     inset 7px 0 14px -7px var(--box-shadow-color),
    //     inset -7px 0 14px -7px var(--box-shadow-color);
}

.card-wrapper {
    flex: 0 1 25%;
    background-color: rgb(218, 207, 216);
}