.card {
    padding: var(--padding-small);
    flex: 0 1 23%;
    margin: 1%;
    transition: background-color .3s;
    @include baseBorder;

    &:hover {
        background-color: var(--color-gray-1);
        cursor: pointer;
    }

    &__title {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    &__description {
        font-size: 1.2rem;
    }
}