.card {
    padding: var(--padding-small);
    flex: 0 1 23%;
    margin: 1%;
    transition: background-color .3s;
    overflow: hidden;


    @media screen and (max-width: 46.875em) {
        flex: 0 1 46%;
    }

    &:hover {
        background-color: var(--color-gray-1);
        cursor: pointer;
    }

    &__title {
        font-size: 1.4rem;
        margin-bottom: 1rem;
        text-align: center;
        background-color: var(--color-gray-2);
        padding: 1rem 0;
    }

    &__error {
        color: var(--color-gray-1);
        text-align: center;
        padding: var(--padding-small);
        font-size: 2rem;
        color: var(--color-error);
        @include centerBlock;
    }

    &__description {
        font-size: 1.2rem;
    }

    &__images-wrapper {
        margin-top: -3rem;
        margin-bottom: 1rem;
        position: relative;
        perspective: 1000px;

        @media screen and (max-width: 46.875em) {
            margin-top: -1rem;
        }
    }

    &__image,
    &__image-back {
        display: block;
        backface-visibility: hidden;
        max-width: 100%;
        transition: transform 1s ease-in-out;
    }

    &__image {
        transform: rotateY(0);
    }

    &__image-back {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotateY(180deg)
    }

    &__images-wrapper:hover &__image {
        animation: rotateCard 1s ease-in;
        animation-delay: .5s;
    }

    &__images-wrapper:hover &__image-back {
        animation: rotateBack 1s ease-in;
        animation-delay: .5s;
    }

}