.deck {
    position: fixed;
    top: 10rem;
    right: 3rem;

    display: block;
    padding: var(--padding-small);

    @include basicSection;


    &__list {
        list-style: none;
    }

    &__item {
        display: block;
        padding: var(--padding-small) var(--padding-big);
        font-size: 1.6rem;
        transition: background-color .3s;
        cursor: pointer;
        
        @include baseBorder;

        &:not(:last-child) {
            margin-bottom: var(--margin-small);
        }

        &:hover {
            background-color: var(--color-gray-1);
        }
    }
}

