.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    margin-bottom: calc(var(--margin) * 3);
    z-index: 500;

    @include basicSection;

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__logo {
        font-size: 3rem;
        font-weight: 300;
        line-height: 1;
        color: var(--color-secondary);

        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
    }

    &__nav {
        list-style: none;
        display: flex;
        margin-right: var(--margin);
    }

    &__nav-item {
        &:not(:last-child) {
            border-right: 1px solid var(--color-gray-2);
        }
    }

    &__nav-link {
        padding: 1rem 2rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 400;
        color: var(--color-gray-4);
        text-decoration: none;
        transition: color .2s;
        cursor: pointer;

        &:link,
        &:visited {
            color: inherit;
        }
        &:active,
        &:hover {
            color: var(--color-primary);
        }
    }

    &__form {
        display: flex;
    }

    &__form-input {
        padding: .4rem 1.2rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;

        @include baseBorder;
        border-right: none;
    }

    &__form-submit {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: .2px;
        text-transform: uppercase;

        color: var(--color-gray-4);
        display: block;
        padding: .8rem 1.6rem;
        border: none;
        background-color: var(--color-primary-light);
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;

        @include baseBorder;
        border-left: none;
    }


}