.container {
    max-width: 124rem;
    padding: 0 var(--padding);
    @include centerBlock;
}

.wrapper {
    padding-top: calc((var(--margin) * 2) + var(--header-height));
    padding-bottom: calc((var(--margin) * 2) + var(--header-height));
}

.main-container {
    display: flex;

    // Test
    min-height: 50vh;
    margin-top: var(--margin-medium);
    
    // & > *:not(:last-child) {
    //     margin-right: var(--margin);
    // }
}