.container {
    max-width: 124rem;
    padding: 0 var(--padding);
    @include centerBlock;
}

.wrapper {
    margin-top: calc((var(--margin) * 2) + var(--header-height));
    margin-bottom: calc((var(--margin) * 2) + var(--header-height));
}

.main-container {
    display: flex;

    // Test
    min-height: 100rem;

    & > *:not(:last-child) {
        margin-right: var(--margin);
    }
}